* {
  box-sizing: border-box; }

body {
  font-family: 'Khula';
  color: #1E4159;
  font-size: 15px;
  line-height: 1.6em;
  width: 100%; }

.curri, .contact {
  padding: 150px 15%; }
  @media (max-width: 968px) {
    .curri, .contact {
      padding: 100px 8%; } }
  .curri__title, .contact__title {
    text-align: center; }
    .curri__title p, .contact__title p {
      font-size: 14px;
      font-weight: bold; }
    .curri__title p::after, .contact__title p::after {
      display: block;
      border-bottom: 2px solid #1E4159;
      content: "";
      margin: 15px auto 25px auto;
      padding: 0;
      width: 50px; }
    .curri__title h2, .contact__title h2 {
      font-size: 30px;
      margin-bottom: 50px; }
      @media (max-width: 968px) {
        .curri__title h2, .contact__title h2 {
          font-size: 25px; } }
  .curri__description, .contact__description {
    text-align: center; }

.curri-list-item {
  box-shadow: 0 0 37px #00578D;
  background-color: #F8FCFF;
  width: 100%;
  padding: 5%;
  box-sizing: border-box;
  margin-bottom: 100px; }
  .curri-list-item:first-child {
    margin-top: 100px; }
  @media (max-width: 968px) {
    .curri-list-item {
      padding: 10%; } }
  .curri-list-item__introduction {
    font-size: 15px;
    line-height: 1.6em;
    color: black;
    padding-bottom: 50px; }
  .curri-list-item__head {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #000;
    padding-bottom: 15px;
    margin-bottom: 50px; }
    @media (max-width: 968px) {
      .curri-list-item__head {
        flex-direction: column;
        align-items: center; } }
    .curri-list-item__head__title {
      font-size: 30px; }
      @media (max-width: 600px) {
        .curri-list-item__head__title {
          font-size: 20px; } }
    .curri-list-item__head__period {
      font-size: 15px;
      color: #000; }
      .curri-list-item__head__period span {
        margin-left: 20px; }
        @media (max-width: 600px) {
          .curri-list-item__head__period span {
            margin-left: 10px; } }

.curri-list-item__description {
  font-size: 15px;
  color: #000; }
  .curri-list-item__description__title {
    color: #00578D;
    font-weight: bold; }
    .curri-list-item__description__title:not(:first-child) {
      margin-top: 3%; }
  .curri-list-item__description__title:before {
    display: inline-block;
    content: "";
    background-image: url(../img/check-box.png);
    background-size: cover;
    width: 22px;
    height: 22px;
    vertical-align: text-top;
    margin-right: 5px;
    margin-bottom: 5px; }
  .curri-list-item__description__text {
    line-height: 1.6em; }

.curri-beginner-flex {
  display: flex;
  height: auto;
  align-items: center; }
  @media (max-width: 968px) {
    .curri-beginner-flex {
      align-items: end; }
      .curri-beginner-flex:not(:last-child) {
        margin-bottom: 10px; } }
  .curri-beginner-flex > img {
    margin: 2% 5% 2% 0;
    flex: none;
    height: 20%;
    object-fit: contain;
    width: 10%; }
    @media (max-width: 968px) {
      .curri-beginner-flex > img {
        width: 15%; } }
    @media (max-width: 600px) {
      .curri-beginner-flex > img {
        width: 20%; } }
  .curri-beginner-flex__text {
    display: block; }

.curri-list-item__description__text__list {
  list-style: none; }
  .curri-list-item__description__text__list li {
    text-indent: 5%; }
    .curri-list-item__description__text__list li:before {
      display: inline-block;
      content: "";
      list-style: none;
      background-image: url(../img/check-box-mono.png);
      background-size: cover;
      width: 22px;
      height: 22px;
      vertical-align: text-top;
      margin-right: 5px;
      margin-bottom: 5px; }

footer {
  color: #fff;
  background-color: #1E4159;
  padding-top: 60px;
  padding-bottom: 20px; }
  footer .footer-list-wrap {
    padding: 150px 15%;
    padding-top: 0;
    padding-bottom: 50px;
    position: relative; }
  footer .footer-list__icon {
    font-size: 1.5em;
    position: absolute;
    right: 15%;
    bottom: 19%;
    transform: translateX(-50%);
    transform: translateY(-50%); }
    footer .footer-list__icon i:first-child {
      margin-right: 5px; }
  footer ul {
    padding-top: 0;
    padding-bottom: 0;
    list-style: none;
    text-align: left; }
    footer ul li {
      font-size: 15px;
      line-height: 1.6em;
      padding-right: 5px;
      display: inline-block; }
      @media (max-width: 600px) {
        footer ul li {
          font-size: 0.9em;
          display: block; } }
      footer ul li:not(:first-child):before {
        content: "|";
        display: inline-block;
        padding-right: 5px; }
        @media (max-width: 600px) {
          footer ul li:not(:first-child):before {
            display: none; } }
      footer ul li [href="../#access"]:before {
        font-family: "Font Awesome 5 Free";
        content: "\f549";
        padding-right: 5px;
        font-weight: bold; }
      footer ul li a {
        text-decoration: none;
        color: #fff; }
  footer ul:not(:last-child) {
    margin-bottom: 30px; }
  footer .footer-logo {
    padding: 150px 15%;
    padding-top: 20px;
    padding-bottom: 0;
    border-top: 1px solid #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; }
    footer .footer-logo p {
      font-size: 0.9em; }
    footer .footer-logo .privacies {
      margin-bottom: 0; }
      footer .footer-logo .privacies li {
        font-size: 10px; }
        @media (max-width: 600px) {
          footer .footer-logo .privacies li {
            display: inline-block; } }

.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box; }

.menu-trigger {
  display: none;
  position: relative;
  width: 30px;
  height: 24px;
  z-index: 10000; }
  @media (max-width: 968px) {
    .menu-trigger {
      display: block; } }
  .menu-trigger.active {
    display: none; }

.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px; }

.menu-trigger span:nth-of-type(1) {
  top: 0; }

.menu-trigger span:nth-of-type(2) {
  top: 11px; }

.menu-trigger span:nth-of-type(3) {
  bottom: 0; }

.menu-close-trigger {
  display: inline;
  transition: all .4s;
  box-sizing: border-box; }
  .menu-close-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    right: 30px;
    top: 23px;
    width: 30px;
    height: 2px;
    background-color: #fff;
    border-radius: 4px; }
    .menu-close-trigger span:nth-child(1) {
      transform: rotate(45deg); }
    .menu-close-trigger span:nth-child(2) {
      transform: rotate(-45deg); }

header {
  height: 80px;
  width: 100vw;
  z-index: 6;
  position: fixed;
  background-color: rgba(144, 198, 221, 0.7);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 150px;
  box-sizing: border-box;
  text-shadow: 0 0 5px gray;
  font-size: 13px; }
  @media (max-width: 968px) {
    header {
      padding: 0;
      padding-left: 30px;
      padding-right: 30px;
      height: 50px; } }
  header h1 {
    font-size: 30px;
    white-space: nowrap; }
    header h1 a {
      text-decoration: none;
      color: white; }
    @media (max-width: 968px) {
      header h1 {
        font-size: 20px; } }

@media (max-width: 968px) {
  nav {
    display: none; } }
nav.pc {
  white-space: nowrap; }
  nav.pc a {
    text-decoration: none;
    color: white; }
nav.sp {
  opacity: 0;
  display: none; }
  @media (max-width: 968px) {
    nav.sp {
      display: block;
      transition: all .5s 0s linear;
      color: white;
      background-color: rgba(30, 65, 89, 0.5);
      flex-direction: column;
      width: 100vw;
      position: relative;
      z-index: -1000;
      pointer-events: none;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0; }
      nav.sp.active {
        pointer-events: auto;
        display: block;
        opacity: 1.0;
        z-index: 9999; }
      nav.sp ul {
        display: flex !important;
        flex-direction: column; }
        nav.sp ul li {
          position: relative;
          text-align: center;
          border-bottom: 1px solid #EDF4FF; }
          nav.sp ul li:first-child {
            margin-top: 50px;
            border-top: #edf4ff 1px solid; }
          nav.sp ul li:not(:last-child) {
            padding: 20px; }
          nav.sp ul li a {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 10001;
            top: 0;
            left: 0; }
          nav.sp ul li:last-child {
            border-bottom: none;
            margin: 120px 20px 20px;
            padding: 10px;
            text-align: center; } }
nav ul {
  display: flex; }
  nav ul li {
    padding: 3px 10px; }
    nav ul li a {
      line-height: inherit; }
  nav ul li:last-child {
    margin-left: 10px; }
  nav ul li:not(:last-child) {
    padding-top: 12px; }
  nav ul .reservation {
    background-color: #ff2757;
    border-radius: 2em;
    position: relative;
    line-height: 43px;
    height: 40px; }
    nav ul .reservation::after {
      content: "";
      border: 6px solid transparent;
      border-left: 10px solid #fff;
      width: 0;
      height: 0;
      margin-left: 5px;
      display: inline-block; }
    nav ul .reservation:hover {
      background-color: #f96485;
      transition: all .5s 0s ease; }

body.is-menu-open .wrapper {
  filter: blur(8px);
  transition: all .5s ease-out; }

.reservation-btn__wrapper {
  position: relative;
  bottom: -500px;
  width: 40vw;
  box-sizing: border-box;
  left: 2%;
  height: 70px; }
  @media (max-width: 968px) {
    .reservation-btn__wrapper {
      width: 60%;
      margin: 50px 0;
      top: 70%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 5; } }
  @media (max-width: 600px) {
    .reservation-btn__wrapper {
      width: 80%;
      left: 50%;
      font-size: 13px;
      white-space: nowrap; } }
  .reservation-btn__wrapper:hover .reservation-btn__main {
    transform: scaleX(1.1) scaleY(1.2); }
  .reservation-btn__wrapper:hover .reservation-btn__bg {
    transform: scale(0.95); }
.reservation-btn__bg {
  transition: all 1s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  opacity: 0.5;
  position: absolute;
  width: 100%;
  border-radius: 3em;
  height: 100%;
  background-color: #FF2757;
  z-index: 5;
  left: 0;
  cursor: pointer;
  animation: btn 1s 0s infinite alternate none cubic-bezier(0.175, 0.885, 0.32, 1.275); }
.reservation-btn__main {
  transition: all 1s 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  display: inline-block;
  z-index: 6;
  width: 90%;
  height: 80%;
  background-color: #FF2757;
  text-decoration: none;
  position: absolute;
  border-radius: 3em;
  top: 10%;
  left: 5%;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer; }
.reservation-btn__description {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 7;
  color: white;
  line-height: 1em;
  display: block;
  text-decoration: none;
  font-weight: bold;
  word-break: break-all;
  cursor: pointer; }
  @media (max-width: 968px) {
    .reservation-btn__description {
      width: 80%;
      left: 50%; } }
  .reservation-btn__description::after {
    content: "";
    border: 6px solid transparent;
    border-left: 10px solid #fff;
    width: 0;
    height: 0;
    margin-left: 5px;
    position: absolute;
    right: -20px;
    top: -1px;
    display: inline-block; }
    @media (max-width: 968px) {
      .reservation-btn__description::after {
        right: unset; } }
  .reservation-btn__description span {
    font-size: 10px;
    vertical-align: middle;
    margin-right: 5px; }
    @media (max-width: 968px) {
      .reservation-btn__description span {
        display: none; } }

.contact {
  padding-top: 0; }
  .contact .reservation-btn__wrapper {
    bottom: -50px !important;
    left: 50%;
    transform: translateX(-50%); }
    @media (max-width: 968px) {
      .contact .reservation-btn__wrapper {
        bottom: 0 !important; } }
    .contact .reservation-btn__wrapper .reservation-btn__description {
      text-align: center;
      width: 80%;
      line-height: 19px; }
      .contact .reservation-btn__wrapper .reservation-btn__description::after {
        display: none; }
  .contact .reservation-btn__description {
    left: 50%; }
  .contact form {
    width: 100%; }
    .contact form input, .contact form textarea, .contact form select {
      width: 100%;
      height: 30px;
      margin: 5px;
      border-radius: 10px;
      border: 2px solid #EFEFEF;
      padding: 0 8px; }
      .contact form input[type="textarea"], .contact form textarea[type="textarea"], .contact form select[type="textarea"] {
        height: 300px; }
      .contact form input[type="checkbox"], .contact form textarea[type="checkbox"], .contact form select[type="checkbox"] {
        width: auto; }
      @media (max-width: 600px) {
        .contact form input, .contact form textarea, .contact form select {
          box-sizing: border-box; } }
    .contact form textarea {
      min-height: 300px;
      resize: none; }
      .contact form textarea#js-area {
        padding-top: 1em; }
      .contact form textarea.close-area {
        display: none; }
    .contact form table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 4px 10px; }
    .contact form th {
      text-align: left; }
    .contact form tr {
      margin-bottom: 3px; }
      @media (max-width: 600px) {
        .contact form tr {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between; } }
      @media (max-width: 600px) {
        .contact form tr td:last-child {
          width: 100%; } }
    .contact form td {
      text-align: left; }
    .contact form td.required {
      color: white;
      display: inline-block;
      padding: 0 2px;
      font-size: 14px;
      height: 20px;
      vertical-align: middle; }
      .contact form td.required.true {
        background-color: red; }
      .contact form td.required.false {
        background-color: #D6DEE3; }
    .contact form td.checkbox {
      display: flex;
      align-items: center; }
    @media (max-width: 600px) {
      .contact form td.school-choose {
        display: flex;
        align-items: center; }
        .contact form td.school-choose input[type="radio"] {
          width: 20px; }
          .contact form td.school-choose input[type="radio"]:not(:first-child) {
            margin-left: 30px; } }

/*# sourceMappingURL=curricurum.css.map */
