// 基本フォントカラー
$base-fc: #1E4159;
// 基本フォントサイズ
$base-fsz: 15px;
// 基本行間
$base-line-height: 1.6em;
// 基本全体余白
$sec-padding: 150px 15%;
$sec-padding-sp: 100px 8%;

$tab: 968px;
$sp: 600px;

@mixin tab {
    @media (max-width: ($tab)) {
        @content;
    }
}
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

.tab {
    display: none;
    @include tab {
        display: inline-block;
    }
}

body {
    font-family: 'Khula';

    color: $base-fc;
    font-size: $base-fsz;
    line-height: $base-line-height;
    width: 100%;
}

// privacyページ基本フォント設定(引数:font-size)
@mixin privacy-font($privacy-fsz: $base-fsz) {
color: #403F3F;
font-size: $privacy-fsz;
line-height: 1.5;

}

// section共通部分
.privacy {
    padding: $sec-padding;
    @include tab {
        padding: $sec-padding-sp;
    }
    &__title {
        text-align: center;
        p {
            font-size: 14px;
            font-weight: bold;
        }
        p::after {
            display: block;
            border-bottom: 2px solid $base-fc;
            content: "";
            margin: 15px auto 25px auto;
            padding: 0;
            width: 50px;
        }
        h2 {
            font-size: 30px;
            margin-bottom: 50px;
            @include tab {
                font-size: 25px;
            }
        }
    }
    &__description {
        text-align: center;
        
    }
}

.privacy__title-fc {
    //section共通部分内のh2とfcが違う為記述
    //誤差ならクラスごと消してください
    color: #34444D;
}

.privacy-introduction {
    @include privacy-font;
    margin-top: 0;
}

.privacy {
    &__item {
        padding: 50px 0;
        &__list-margin {//番号付箇条書きの上部余白用スタイル
            margin-top: 50px;
        }
        &__head {
            @include privacy-font(32px);
            font-weight: normal;
            @include tab {
                font-size: 20px;
                font-weight: bold;
            }
        }
        p {
            @include privacy-font;
        }
        &__address {
            @include privacy-font;
        }
    }
}

footer {
    color: #fff;
    background-color: $base-fc;
    padding-top: 60px;
    padding-bottom: 20px;
    .footer-list-wrap {
        padding: $sec-padding;
        padding-top: 0;
        padding-bottom: 50px;
        position: relative;
    }
    .footer-list__icon {
        font-size: 1.5em;
        position: absolute;
        right: 15%;
        bottom: 19%;
        transform: translateX(-50%);
        transform: translateY(-50%);
        i:first-child {
            margin-right: 5px;
        }
    }

        ul {
            padding-top: 0;
            padding-bottom: 0;
            list-style: none;
            text-align: left;
            li {
                font-size: $base-fsz;
                line-height: $base-line-height;
                // color: #fff;
                padding-right: 5px;
                display: inline-block;
                @include sp {
                    font-size: 0.9em;
                    display: block;
                }
                &:not(:first-child):before {
                    content: "|";
                    display: inline-block;
                    padding-right: 5px;
                    @include sp {
                        display: none;
                    }
                }
                [href="../#access"]:before {
                    font-family: "Font Awesome 5 Free";
                    content: "\f549";
                    padding-right: 5px;
                    font-weight: bold;
                }
                a {
                    text-decoration: none;
                    color: #fff;
                }
            }
           
        }

        ul:not(:last-child) {
            margin-bottom: 30px;
        }

    .footer-logo {
        padding: $sec-padding;
        padding-top: 20px;

        padding-bottom: 0;
        border-top: 1px solid #fff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        p {
            font-size: 0.9em;
        }
        .privacies {
            margin-bottom: 0;
            & li {
                font-size: 10px;
                @include sp {
                    display: inline-block;
                }
            }
        }
    }
        
}

.menu-trigger,
.menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}
.menu-trigger {
    display: none;
    @include tab {
        display: block;
    }

    position: relative;
    width: 30px;
    height: 24px;
    z-index: 10000;
    &.active {
        display: none;
    }
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
  top: 0;
}
.menu-trigger span:nth-of-type(2) {
  top: 11px;
}
.menu-trigger span:nth-of-type(3) {
  bottom: 0;
}
.menu-close-trigger {
    display: inline;
    transition: all .4s;
    box-sizing: border-box;
    span {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;    
        position: absolute;
        right: 30px;
        top: 23px;
        width: 30px;
        height: 2px;
        background-color: #fff;
        border-radius: 4px;
        &:nth-child(1) {
            transform: rotate(45deg);
        }
        &:nth-child(2) {
            transform: rotate(-45deg);
        }
    }
}

header {
    height: 80px;
    width: 100vw;
    z-index: 6;
    position: fixed;
    background-color: rgba(144, 198, 221, 0.7);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
    box-sizing: border-box;
    text-shadow: 0 0 5px gray;
    font-size: 13px;
    @include tab {
        padding: 0;
        padding-left: 30px;
        padding-right: 30px;
        height: 50px;
    }
    h1 {
        font-size: 30px;
        a {
            text-decoration: none;
            color: white;
        }
        @include tab {
            font-size: 20px;
        }
        white-space: nowrap;
    }
}
nav {
    @include tab {
        display: none;
    }
    &.pc {
        a {
            text-decoration: none;
            color: white;
        }
        white-space: nowrap;
    }
    &.sp {
        opacity: 0;
        display: none;

        @include tab {
            display: block;
            transition: all .5s 0s linear;
            color: white;
            background-color: rgba(30, 65, 89, 0.5);
            flex-direction: column;
            width: 100vw;
            position: relative;
            z-index: -1000;
            pointer-events: none;
            &.active {
                pointer-events: auto;
                display: block;
                opacity: 1.0;
                z-index: 9999;
            }
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;

            ul {
                display: flex!important;
                flex-direction: column;
                li {
                    position: relative;
                    text-align: center;
                    &:first-child {
                        margin-top: 50px;
                        border-top: #edf4ff 1px solid;
                    }
                    &:not(:last-child){
                        padding: 20px;
                    }

                    a {
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        z-index: 10001;
                        top: 0;
                        left: 0;
                    }
                    border-bottom: 1px solid #EDF4FF;
                    &:last-child {
                        border-bottom: none;
                        margin: 120px 20px 20px;
                        padding: 10px;
                        text-align: center;
                    }
                }
            }
        }
    }
    ul {
        display: flex;
        li {
            padding: 3px 10px;
            a {
                line-height: inherit;
            }
        }
        li:last-child {
            margin-left: 10px;
        }
        li:not(:last-child) {
            padding-top: 12px;
        }
        .reservation {
            background-color: #ff2757;
            border-radius: 2em;
            position: relative;
            line-height: 43px;
            height: 40px;

            &::after {
                content: "";
                border: 6px solid transparent;
                border-left: 10px solid #fff;
                width: 0;
                height: 0;
                margin-left: 5px;
                display: inline-block;
            }
            &:hover {
                background-color: #f96485;
                transition: all .5s 0s ease;
            }
        }
    }
}

body.is-menu-open {
    .wrapper {
        filter: blur(8px);
        transition: all .5s ease-out;
    }
}